@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-balham.css';

.data-grid  {
    width: 100%;
    min-height: 300px;
    height: 300px;
    max-height: 600px;
}